@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
@font-face {
  font-family: "SF-PRO";
  src: url("./font/SF-Pro.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "SF-PRO", "Raleway", sans-serif;

  box-sizing: border-box;
}

body {
  background-color: rgba(252, 251, 255, 255);
  min-height: 100vh;
}

.navitems {
  display: inline;
}

nav {
  padding: 7px 12px;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 252, 252, 0);
  backdrop-filter: blur(20px);
  z-index: 10;
}

.right {
  float: right;
  margin-right: 20px;
}

.dots {
  width: 21px;
  height: 18px;
  border-radius: 5px;
  padding: 6px;
}

.dots:hover {
  background-color: rgba(206, 206, 206, 0.392);
}

.container {
  width: 26rem;
  position: relative;
  top: 3rem;
  margin: auto;
}

.videocontainer {
  width: 300px;
}

.maintext {
  text-align: center;
  font-size: 8.5rem;
  margin-top: 5px;
  font-weight: 650;
}

button {
  width: 120px;
  height: 41px;
  border-radius: 20px;
  margin: auto;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.button {
  width: min-content;
  margin: 20px auto;
}

.bottomtext {
  font-family: "Inter var", sans-serif;
  font-weight: 450;
  text-align: center;
  font-size: 22px;
  margin-top: 50px;
}

.footercontainer {
  margin: 200px auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottombox {
  display: inline-block;
  width: 46%;
  height: 35em;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-top: 30px;
  /* box-shadow: 25px 0px 50px 30px rgba(0, 0, 0, 0.13); */
  box-shadow: 13px 20px 34px -1px rgb(0 0 0 / 26%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box2 {
  float: right;
}

.imagefooter {
  margin: auto;
  margin-top: 50px;
}

/* .img1 {
  margin-top: 80px;
}
.img2 {
  width: 350px;
  margin-top: 40px;
} */

.textfooter {
  width: 80%;
  margin: 4rem auto;
  font-family: "Inter var", sans-serif;
  text-align: left;
}

.toptext {
  font-size: 28px;
}

.btmtext {
  margin-top: 30px;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
}

.vl {
  display: inline;
  border-left: 1px solid rgba(95, 95, 96, 0.572);
  height: 500px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: rgb(0, 140, 255);
}

footer {
  width: 100%;
  background-color: rgb(245, 245, 247);
  height: 4rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  font-size: 11px;
  position: relative;
  left: 0;
  bottom: 0;
}

.end {
  position: relative;
  width: 60%;
  margin: auto;
  top: 25px;
}

li {
  list-style: none;
  display: inline;
  margin-right: 10px;
  color: rgba(66, 66, 69, 0.572);
}
ul {
  display: inline;
}

.endright {
  display: inline;
  float: right;
  color: rgba(66, 66, 69, 0.548);
}

@media only screen and (max-width: 1040px) {
  .footercontainer {
    margin: 200px auto;
    width: min-content;
  }
  footer {
    display: none;
  }
}

h2 {
  font-weight: 550;
  font-size: 40px;
  width: 470px;
}

h3 {
  font-weight: 550;
  font-size: 700px;
}
